# Python
__pycache__/
*.py[cod]

# Environnement virtuel
venv/
env/
.venv/

# Fichiers de base de données
data/Bank.db

# Logs et fichiers temporaires
*.log
*.tmp
*.swp

# Configs locales
*.env
instance/

# IDE
.vscode/
.idea/

# Mac OS
.DS_Store
